@import "../colors.scss";
.card {
  border-bottom: solid 1px $grey-2;
  cursor: pointer;
  background: #fff;
  height: fit-content;
  position: relative;
  &__wishlist {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    font-size: 1.3rem;
    background: #eff3fa 0 0 no-repeat padding-box;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 1000px;
  }
  figure {
    position: relative;
    figcaption {
      display: flex;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background: rgba(1, 178, 238, 0.9);
      text-align: center;
      color: #fff;
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 600;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      pointer-events: none;
      div {
        padding: 20px;
      }
      @media screen and (max-width: 305px) {
        font-size: 1.5rem;
      }
    }
  }
  &:hover figcaption {
    opacity: 1;
  }
  &__data {
    padding: 1rem;
    min-height: 123.6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
      & p + p {
        margin-bottom: 2px;
      }
      &__title {
        font-size: 1.8rem;
      }
      &__place-name {
        color: $blue;
        font-size: 1.5rem;
      }
      &__place-location {
        color: $grey-1;
      }
    }
    &__financial {
      display: flex;
      justify-content: space-between;
      & .flex {
        gap: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
        & > * {
          display: flex;
          align-items: flex-end;
        }
      }
      &__bought {
        color: $grey-1;
        display: flex;
        align-items: flex-end;
      }
      &__price {
        color: $blue;
        font-size: 1.4rem;
        text-align: right;
        span:last-of-type {
          font-size: 2.8rem;
          font-weight: 500;
        }
        &__discount {
          margin-left: 3px;
        }
      }
    }
  }
  &__collection {
    padding: 1rem;
    padding-top: 2rem;
    min-height: 113.6px;
    position: relative;
    text-align: center;
    & > * {
      margin-bottom: 5px;
    }
    h3 {
      color: $blue;
    }
    button {
      margin: 0;
      background-color: #fff;
      color: $blue;
      border: solid 1px $blue;
      &:hover {
        background-color: #fff;
      }

      span {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
    &::after,
    &::before {
      content: "";
      height: 5px;
      position: absolute;
      left: 0;
      background-color: #fff;
      border-bottom: solid 1px $grey-2;
    }
    &::after {
      width: 90%;
      bottom: -14px;
    }
    &::before {
      width: 95%;
      bottom: -7px;
    }
  }
}
